/**
 * @file 基本变量定义
 * @author shenli <shenli03@baidu.com>
 */

/*******************************
        基本颜色配置，可自定义
*******************************/
@default-color: #e8e8e8;
@main-color: #ff7a01;
@disable-color: #bdbdbd;

@white: #fff;
@black: #000;
@gray: #ddd;
@green: #2ECC71;
@green-shallow: #40d47e;
@blue: #3498DB;
@blue-shallow: #4aa3df;
@purple: #ce8eb7;
@brown:#ac6316;

//语义化的几个颜色
@warning-color: #e74c3c;
@warning-color-deep: #c0392b;
@success-color: #2ecc71;
@success-color-deep: #27ae60;

/*******************************
       字体颜色
*******************************/
@font-default: #666666;
@text-gray: #999999;
@text-black: #333333;
@text-orange: #ee7116;
@text-blue: #15348e;


/*******************************
       边框颜色配置，可自定义
*******************************/
@border-orange: #d45f00;
@border-gray: #d3d3d3;
@border-color: #ccc;

@header-default:#f1f1f1;


/*******************************
       iconfont颜色配置
*******************************/
@android-color: #77c14f;


/*******************************
       图片地址
*******************************/
@icon-url: '../img/icon.png';
@icon-url-gif: '../img/icon.gif?';

@sprite-url:'../img/sprite-index.png?v=140825';
@sprite-url-gif:'../img/sprite-index.gif?v=140825';

@button-url:'../img/buttons.png?v=140825';

@banner-arrow-url:'../img/banner-arrow.png?v=140815';
@banner-arrow-url-gif:'../img/banner-arrow.gif?v=140815';

/*******************************
        兼容老的less
*******************************/
// COLORS
@mainColor: #ff7a01;
@diableColor: #bdbdbd;
@borderColor: #dcdcdc;
@borderGray: #d3d3d3;
@textBlueDeep: #15348e;
@textBlue: #165bb9;
@bgGray: #f3f3f3;
@white: #fff;
@black: #000;
@gray: #ddd;
@fontColor: #666666;
@textGray: #999999;
@textBlack: #333333;
@textOrange: #ee7116;
@tabOrange: #ffefd7;
@borderOrange: #d45f00;
@androidColor: #77c14f;

@bgBlue: #4868af;
@bgPurple: #ce8eb7;

//flat color
@warningColor:#e74c3c;
@warningColorDeep:#c0392b;
@successColor:#2ecc71;
@successColorDeep:#27ae60;
@disabledColor:#ecf0f1;
@green:#2ECC71;
@greenHover:#40d47e;
@blue:#3498DB;
@blueHover:#4aa3df;

// IMAGE URL
@iconUrl: '../img/icon.png?v=140630';
@iconUrlGif: '../img/icon.gif?v=140630';
@bannerArrowUrl: '../img/banner-arrow.png?v=10320';
@btnUrl: '../img/buttons.png?v=140610';

