/**
 * @file 进度条
 * @author shenli （shenli03@baidu.com）
 */

/*******************************
             Basic
*******************************/
/*doc
---
title: progress
name: progress
category: elements
---

```html_example
   <div class="mp-progress">
	    <div class="mp-progress-inner" style="width:80%"></div>
    </div>
    <div class="mp-progress success">
	    <div class="mp-progress-inner" style="width:80%"></div>
    </div>
    <div class="mp-progress success active">
	    <div class="mp-progress-inner"></div>
    </div>
    <div class="mp-progress success animate">
	    <div class="mp-progress-inner" ></div>
    </div>
    <div class="mp-progress success mp-striped">
	    <div class="mp-progress-inner" ></div>
    </div>
```
*/
.mp-progress{
    height: 23px;
    background: #fafafa;
    padding: 5px;
    .border-radius(3px);
    border:1px solid @border-gray;
    .mp-progress-inner{
        height: 100%;
        background-color: #cccccc;
    }
}

/*******************************
             Types
*******************************/
.mp-progress.animate{
    .mp-progress-inner{
        .transition(width 1s ease-in-out,background-color 1s ease-out);
        -webkit-animation:finish 10s ease-in-out infinite;
        animation:finish 10s ease-in-out infinite;
    }
}
/*******************************
             States
*******************************/
.mp-progress.active{
    position: relative;
    .mp-progress-inner:after{
        content: '';
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: @white;
        .border-radius(3px);
    }
}
.mp-progress.warning{
    .mp-progress-inner{
        background-color:@warning-color;
    }
}
.mp-progress.success{
    .mp-progress-inner{
        background-color:@success-color;
    }
}

.mp-progress.disabled{
    .mp-progress-inner{
        background-color: @disable-color;
        .transition(none);
        .animation(none);
    }

}
/*******************************
             Variations
*******************************/
//纹理
.mp-striped{
    .mp-progress-inner{
        background-size:30px 30px;
        background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    }
}
.mp-striped.success{
    .mp-progress-inner{
        background-image: linear-gradient(135deg,@success-color-deep 25%,transparent 25%,transparent 50%,@success-color-deep 50%,@success-color-deep 75%,transparent 75%,transparent);
    }
}
.mp-striped.warning{
    .mp-progress-inner{
        background-image: linear-gradient(135deg,@warning-color-deep 25%,transparent 25%,transparent 50%,@warning-color-deep 50%,@warning-color-deep 75%,transparent 75%,transparent);
    }
}