/**
 * @file 边框
 * @author shenli 
 */

@import "../base/main";

.ui-box {
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px solid #cccccc;
    border-bottom: 0;
    zoom: 1;
}
.ui-box-highlight{
    border-top: 3px solid @mainColor;
}
.ui-box-wrap{
    padding-right: 1em;
}
.ui-box-head,.ui-box-foot{
    position: relative;
    padding: 7px 13px 7px 8px;
    .lh(24px);
    background: #f1f1f1;
    zoom: 1;
}
.ui-box-head {
    border-bottom: 1px solid #ccc;
    .ui-box-head-title{
        float: left;
        display: inline;
        font-size: 16px;
        color: #333333;
        .iconfont{
            padding-right: 10px;
        }
    }
    .ui-box-head-more {
        float: right;
        font-size: 12px;
        color: #666666;
    }
    a.ui-box-head-more:hover {
        text-decoration: underline;
    }
    //标题icon
    .ui-box-head-icon {
       float: left;
       margin:5px 10px 0 0;
    }
}

//底部
.ui-box-container ,.ui-box-foot{
    border-bottom: 1px solid #ccc;
}
//ui-box内容区域，默认右边距
.ui-box-content {
    padding: 1em;
}

//更多按钮，带箭头
.ui-box-head-more-btn{
    position: relative;
    float: right;
    width: 47px;
    .lh(20px);
    color:@fontColor;
    font-size: 13px;
    text-align: center;
    border: 1px solid @borderColor;
    .border-radius(3px);
    .vertical-gradient(#ffffff,#efefef);
    .arrow-r{
        .abrt(0,6px);
        border-width: 3px;
        border-color: transparent;
        border-left-color: @mainColor;
    }
    &:hover {
        text-decoration: underline;
        color: @mainColor;
    }
}

/*******************************
             Types
*******************************/

/**
*  带有tab标签的ui-box
*/
.ui-box-tab{
    .ui-box-head{
        padding: 0;
        .lh(37px);
        font-size: 15px;
        //默认两个，宽度平分
        .line{
            .ablt(50%,0);
            width: 1px;
            height: 100%;
            background: @borderColor;

        }
        .active{
            margin-top: -1px;
            border-top: 2px solid @mainColor;
            background: @white;
            color: @textBlack;
            strong{
                color: @mainColor;
            }
        }
    }
    .ui-box-head-tab,.ui-box-head-tab2{
        _position: relative;
        float: left;
        color: @textGray;
        text-align: center;
        margin-bottom: -1px;
        strong{
            font-weight: normal;
        }
    }
    .ui-box-head-tab{
        width: 50%;
    }

    .ui-box-head-tab2{
        width: 100px;
        border-right: 1px solid @borderGray;
    }
}
/**
*  tab box
*/
.ui-box-tab2{
    padding: 0 14px;
    border: 1px solid @borderGray;
    border-top:3px solid @mainColor;
    .ui-box-head3{
        height: 31px;
        padding: 8px 0 0;
        background:@white ;
        border-bottom: 1px solid @borderGray;
    }
    .ui-box-head-more2{
        top: 5px;
    }
    .ui-box-head-tab{
        _position:relative;
        width: 90px;
        float: left;
        margin-right: 5px;
        .lh(30px);
        font-size: 15px;
        text-align: center;
        border: 1px solid @borderGray;
    }
    .active{
        border-bottom-color: @white;
        color: @mainColor;
    }
}

//折叠效果
.ui-box-piled{
    border-bottom: 1px solid #cccccc;
    &:after,&:before{
        background:#fff;
        visibility: visible;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        left: -1px;
        width: 100%;
        top: 0;
        .box-shadow( 0 0 1px 1px rgba(0,0,0,.1));
    }

    &:after{
        .transform(rotate(1.2deg));
        z-index: -1;
    }
    &:before{
        .transform(rotate(-1.2deg));
        z-index: -2;
    }

}

/*******************************
             Status
*******************************/
//disabled
.ui-box.disabled{
    .opacity(80);
    color: @gray;
}