/**
 * @file 
 * @author shenli <shenli03@baidu.com>
 */


/*******************************
             Basic
*******************************/
//下拉菜单
.mp-btn-dropdown-wrap {
    position: relative;
    .open {
        z-index: 100;
    }
}

.mp-btn-dropdown {
    position: relative;
}

.mp-btn-dropdown-middle {
    display: none;
    position: absolute;
    left: 0;
    width: 98%;
    top: 28px;
    _width: 79px;
    background: #fff;
    list-style: none;
    border: 1px solid #cbcbcb;
    border-top: 0;
    border-bottom: 0;
    zoom: 1;
    z-index: 1000;
    a {
        .lh(26px);
    }
}

.open .mp-btn-dropdown-middle {
    display: block;
}

.mp-btn-dropdown-item {
    border-bottom: 1px solid #cbcbcb;
    a {
        display: block;
        text-align: center;
        color: #333333;
        cursor: pointer;
        &:hover{
            background: #ececec;

        }
    }
}


/*******************************
             Types
*******************************/


/*******************************
             States
*******************************/


/*******************************
             Variations
*******************************/

