/**
 * @file 文本
 * @author shenli （shenli03@baidu.com）
 */

/*******************************
             Basic
*******************************/
.mp-text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

/*******************************
             Types
*******************************/
.mp-text-icon{
    .inline-block();
}
/*******************************
             States
*******************************/

.mp-highlight{
    color: @main-color;
}
/*******************************
             Variations
*******************************/