/**
 * @file 按钮
 * @author shenli <shenli03@baidu.com>
 */
/*******************************
             Basic
*******************************/
/*doc
---
title: button
name: button
category: elements
---

```html_example
   <div class="mp-btn mp-btn-warning">warning</div>
```
Button                                                            | Modifier Class
----------------------------------------------------------------- | -----------------
 <div class="mp-btn mp-btn-primary">button</div>              | `mp-btn-primary`
 <div class="mp-btn mp-btn-blue">button</div>              | `mp-btn-blue`
 <div class="mp-btn mp-btn-disable">disable</div>              | `mp-btn-disable`
 <div class="mp-btn mp-btn-default">default</div>              | `mp-btn-default`
 <div class="mp-btn mp-btn-success">success</div>              | `mp-btn-success`
 <div class="mp-btn mp-btn-warning">warning</div>              | `mp-btn-warning`
*/
.mp-btn {
    position: relative;
    .inline-block();
    margin-bottom: 0;
    background-image: none;
    *zoom: 1;
    *overflow: visible;
    padding: .625em 1em;
    line-height: @btn-line-height;
    word-wrap: normal;
    white-space: nowrap;
    .border-radius(2px);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: @btn-font-size;
    cursor: pointer;
    color: @btn-default-color;
    border: none; // 去除<button/>的边框
    outline: 0;
    .user-select(none);
    .transition(background-color 300ms ease-out, border-color 300ms ease-out);
    &:hover,
    &:focus {
        outline: 0;
        color: @btn-default-color;
        text-decoration: none;
    }

    &:active,
    &.ui-active {
        background-image: none;
        .box-shadow(inset 0 1px 8px rgba(0, 0, 0, .125));
    }

    &.ui-disabled,
    &[disabled],
    fieldset[disabled] & {
        // https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
        pointer-events: none; // Disable mouse events
        border-color: transparent;
        cursor: not-allowed; // may not styled because pointer-events: none;
        .opacity(.45);
        .box-shadow(none);
    }

}

/*******************************
             Types
*******************************/
.mp-btn-txt {
    .inline-block();
    border: 0;
    text-decoration: none;
    overflow: visible;
    font-weight: @btn-font-weight;
    cursor: pointer;
}

.mp-btn a.mp-btn-txt:hover {
    text-decoration: none;
}

/*******************************
             States
*******************************/
.mp-btn-primary {
    .button-variant(@btn-primary-color, @btn-primary-bg, @btn-primary-border);
}

.mp-btn-default {
    .button-variant(@btn-default-color, @btn-default-bg, @btn-default-border);
}

.mp-btn-normal,
.mp-btn-disable,
.mp-btn-disabled {
    .button-variant(@default-color, @disable-color, @disable-color);
}

.mp-btn-disable {
    cursor: default;
}

.mp-btn-success {
    .button-variant(@btn-success-color, @btn-success-bg, @btn-success-border);
}

.mp-btn-warning {
    .button-variant(@btn-warning-color, @btn-warning-bg, @btn-warning-border);
}

.mp-btn-img {
    background: @btn-primary-bg;
    border-color: @btn-primary-bg;
    &:hover {
        background: url(@button-url) 0 0 no-repeat;
    }
}

//蓝色按钮
.mp-btn-blue {
    .button-variant(@btn-secondary-color, @btn-secondary-bg, @btn-secondary-border);
}

/*******************************
             Variations
*******************************/

.mp-btn-large {
    padding: 0 40px;
}

.mp-btn-middle {
    padding: 0 10px;
}