/**
 * @file 分页
 * @author shenli （shenli03@baidu.com）
 */
/*doc
---
title: pagination
name: pagination
category: collections
---
基本分页

```html_example
  <div class="mp-pagination">
	   	<a href="#" data-page="0" class="mp-pagination-current">1</a>
	   	<a href="#" data-page="1">2</a>
	   	<a href="#" data-page="2">3</a>
	   	<a href="#" data-page="1" class="mp-pagination-ellipsis">...</a>
	   	<a href="#" data-page="101">102</a>
	   	<a href="#" data-page="1" class="mp-pagination-next">下一页<em></em></a>
   	</div>
```

*/


.mp-pagination{
    vertical-align: middle;
    font-size: 0;
    .mp-pagination-item,a{
        position: relative;
        .inline-block();
        .vertical-align(30px);
        margin-right: 4px;
        padding: 0 10px;
        border:1px solid @border-gray;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
    }
    .mp-pagination-disabled{
        cursor: default;
        color: @text-gray;
    }
    .mp-pagination-current{
        background-color: #ff7a01;
        border: 0;
        cursor: default;
        color: #fff;
    }
    .mp-pagination-ellipsis{
        order: 0;
        background-color: transparent;
        cursor: text;
    }
}