/**
 * @file 图片处理
 * @author shenli （meshenli@gmail.com）
 */
.image{
    position:relative;
    .inline-block(); //默认换行
    vertical-align: middle;//去掉行内元素的空白
    max-width: 100%;
}
img.image{
    display: block;
}

.image-avatar{
    margin-right: .5em;
    width: 2em;
    height: 2em;
    .border-radius(50%);
}
.image-disable{
    cursor: default;
    .opacity(30);
}

.image-circular{

    &,& .image,img{
        .border-radius(50%);
    }
}

//一排组合
.images {
    font-size: 0; //去掉inline-block产生的空白
    .image{
        .inline-block();
        margin-right: 2em;
    }
}

//大小控制
.small.images .image,.small.image,.small.images img{
    .size(80px,80px);
    font-size: 14px;
}
