/**
 * @file demo样式
 * @author shenli （meshenli@gmail.com）
 */
.lacus-module {
  width: 700px;
  padding: 0 0 0 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.lacus-module-head {
  overflow: hidden;
}
.lacus-module-title {
  display: inline;
  font-size: 22px;
  color: #7CAE23;
  margin-top: 40px;
}
.lacus-module-version {
  margin-left: 0.5em;
  font-size: 12px;
  font-weight: normal;
  color: #888;
  font-family: Menlo, Monaco, "Courier New", monospace;
}
.lacus-module-description {
  margin: 10px 0 20px;
  font-size: 14px;
  color: #888;
}
.lacus-module-demo {
  position: relative;
  padding: 20px;
  border: 1px solid #eee;
}
.lacus-module-panel {
  border: 1px solid #ccc;
  margin: 20px;
  background: #efefef;
}
.lacus-module-panel .title {
  margin: 20px;
  height: 25px;
  line-height: 25px;
}
.lacus-module-panel .cnt {
  margin: 20px;
  line-height: 28px;
}
